In [2]:
#Librerias para gestionar datos tabulares
import pandas as pd

from datetime import datetime

import warnings

warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)

In [3]:
df_netflix_original = pd.read_csv("datos/netflix_originals.csv", index_col=0)
df_netflix_titles = pd.read_csv("datos/netflix_titles.csv", index_col= 0)

In [4]:
df_netflix_original

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
576,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
577,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [67]:
df_netflix_original.describe().T

,count,mean,min,25%,50%,75%,max,std
Premiere,513,2019-06-16 01:21:24.210526208,2014-12-13 00:00:00,2018-06-08 00:00:00,2019-10-18 00:00:00,2020-09-17 00:00:00,2021-05-27 00:00:00,NaN
Runtime,513.0,94.674464,4.0,87.0,97.0,108.0,209.0,26.648121
IMDB Score,513.0,6.210916,2.5,5.6,6.3,6.9,9.0,0.96885

In [69]:
df_netflix_original.describe(include="O").T

           count unique                                       top freq
Title        513    513  David Attenborough: A Life on Our Planet    1
Genre        513    106                               Documentary  132
Language     513     37                                   English  352
Mes          513     12                                   October   69
Ano          513      8                                      2020  164
Dia_Semana   513      7                                    Friday  346

In [5]:
df_netflix_titles

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [66]:
df_netflix_titles.describe().T

,count,mean,std,min,25%,50%,75%,max
release_year,8807.0,2014.180198,8.819312,1925.0,2013.0,2017.0,2019.0,2021.0

In [70]:
df_netflix_titles.describe(include="O").T

,count,unique,top,freq
show_id,8807,8807,s8807,1
type,8807,2,Movie,6131
title,8807,8807,Zubaan,1
director,6173,4528,Rajiv Chilaka,19
cast,7982,7692,David Attenborough,19
country,7976,748,United States,2818
date_added,8797,1767,"January 1, 2020",109
rating,8803,17,TV-MA,3207
duration,3994,185,2 Seasons,425
listed_in,8807,514,"Dramas, International Movies",362
description,8807,8775,"Paranormal activity at a lush, abandoned prope...",4

In [71]:
df_netflix_original.info()

<class 'pandas.core.frame.DataFrame'>
Index: 513 entries, 0 to 583
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       513 non-null    object
 1   Genre       513 non-null    object
 2   Premiere    513 non-null    datetime64[ns]
 3   Runtime     513 non-null    int64
 4   IMDB Score  513 non-null    float64
 5   Language    513 non-null    object
 6   Originales  513 non-null    bool
 7   Mes         513 non-null    object
 8   Ano         513 non-null    object
 9   Dia_Semana  513 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 40.6+ KB

In [ ]:
df_netflix_original.dtypes

Title          object
Genre          object
Premiere       object
Runtime         int64
IMDB Score    float64
Language       object
dtype: object

In [8]:
df_netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      3994 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [9]:
df_netflix_titles.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [10]:
df_netflix_original.isnull().sum()

Title         0
Genre         0
Premiere      0
Runtime       0
IMDB Score    0
Language      0
dtype: int64

In [11]:
df_netflix_original.duplicated().sum()

np.int64(0)

In [12]:
df_netflix_titles.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration        4813
listed_in          0
description        0
dtype: int64

In [13]:
df_netflix_titles.duplicated().sum()

np.int64(0)

In [14]:
df_netflix_original['Genre'].unique()

array(['Documentary', 'Thriller', 'Science fiction/Drama',
       'Horror thriller', 'Mystery', 'Action', 'Comedy',
       'Heist film/Thriller', 'Musical/Western/Fantasy', 'Drama',
       'Romantic comedy', 'Action comedy', 'Horror anthology',
       'Political thriller', 'Superhero-Comedy', 'Horror',
       'Romance drama', 'Anime / Short', 'Superhero', 'Heist', 'Western',
       'Animation/Superhero', 'Family film', 'Action-thriller',
       'Teen comedy-drama', 'Romantic drama', 'Animation',
       'Aftershow / Interview', 'Science fiction adventure',
       'Science fiction', 'Comedy-drama', 'Comedy/Fantasy/Family',
       'Action/Comedy', 'Action/Science fiction',
       'Romantic teenage drama', 'Comedy / Musical', 'Musical',
       'Variety show', 'Science fiction/Mystery',
       'Psychological thriller drama', 'Adventure/Comedy', 'Black comedy',
       'Romance', 'Horror comedy', 'Christian musical',
       'Romantic teen drama', 'Family', 'Dark comedy', 'Comedy horror',
       'Psychological thriller', 'Biopic', 'Science fiction/Thriller',
       'Mockumentary', 'Satire', 'One-man show', 'Comedy/Horror',
       'Sports-drama', 'Zombie/Heist', 'Psychological horror',
       'Sports film', 'Comedy mystery', 'Romantic thriller',
       'Christmas comedy', 'War-Comedy', 'Romantic comedy/Holiday',
       'Adventure-romance', 'Crime drama', 'Adventure', 'Horror-thriller',
       'Dance comedy', 'Stop Motion', 'Horror/Crime drama',
       'Urban fantasy', 'Drama/Horror', 'Family/Comedy-drama', 'War',
       'Crime thriller', 'Science fiction/Action', 'Teen comedy horror',
       'Animation/Musical/Adventure', 'Animation/Comedy/Adventure',
       'Action thriller', 'Anime/Science fiction', 'Animation / Short',
       'War drama', 'Musical comedy', 'Family/Christmas musical',
       'Science fiction thriller', 'Hidden-camera prank comedy',
       'Spy thriller', 'Anime/Fantasy', 'Animated musical comedy',
       'Superhero/Action', 'Biographical/Comedy', 'Historical-epic',
       'Animation / Comedy', 'Christmas/Fantasy/Adventure/Comedy',
       'Mentalism special', 'Drama-Comedy', 'Coming-of-age comedy-drama',
       'Historical drama', 'Action-adventure', 'Concert Film',
       'Animation / Science Fiction', 'Anthology/Dark comedy',
       'Animation/Christmas/Comedy/Adventure'], dtype=object)

In [15]:
df_netflix_original['Language'].unique()

idiomas = df_netflix_original['Language'].dropna().tolist()

idiomas_unicos = list(set(idiomas))

idiomas_unicos

#for idioma in idiomas_unicos:
#    for valor in idioma:
#        language = valor.split("/")
#        if language not in idiomas_unicos:
#            idiomas_unicos.append(language)

# idiomas_unicos

['Polish',
 'Portuguese',
 'Malay',
 'German',
 'Korean',
 'English/Russian',
 'French',
 'Swedish',
 'English/Spanish',
 'English/Japanese',
 'Thai',
 'English/Taiwanese/Mandarin',
 'Spanish/Basque',
 'Italian',
 'Spanish/Catalan',
 'English/Hindi',
 'Tamil',
 'Dutch',
 'Norwegian',
 'Hindi',
 'English/Mandarin',
 'Indonesian',
 'Thia/English',
 'Spanish/English',
 'English/Korean',
 'English/Akan',
 'English/Swedish',
 'English/Arabic',
 'English/Ukranian/Russian',
 'Japanese',
 'Khmer/English/French',
 'Filipino',
 'Turkish',
 'Marathi',
 'Spanish',
 'English',
 'Bengali']

In [16]:
df_netflix_titles['country'].unique()

array(['United States', 'South Africa', nan, 'India',
       'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
       'United Kingdom', 'Germany, Czech Republic', 'Mexico', 'Turkey',
       'Australia', 'United States, India, France', 'Finland',
       'China, Canada, United States',
       'South Africa, United States, Japan', 'Nigeria', 'Japan',
       'Spain, United States', 'France', 'Belgium',
       'United Kingdom, United States', 'United States, United Kingdom',
       'France, United States', 'South Korea', 'Spain',
       'United States, Singapore', 'United Kingdom, Australia, France',
       'United Kingdom, Australia, France, United States',
       'United States, Canada', 'Germany, United States',
       'South Africa, United States', 'United States, Mexico',
       'United States, Italy, France, Japan',
       'United States, Italy, Romania, United Kingdom',
       'Australia, United States', 'Argentina, Venezuela',
       'United States, United Kingdom, Canada', 'China, Hong Kong',
       'Russia', 'Canada', 'Hong Kong', 'United States, China, Hong Kong',
       'Italy, United States', 'United States, Germany',
       'United Kingdom, Canada, United States', ', South Korea',
       'Ireland', 'India, Nepal',
       'New Zealand, Australia, France, United States', 'Italy',
       'Italy, Brazil, Greece', 'Argentina', 'Jordan', 'Colombia',
       'United States, Japan', 'Belgium, United Kingdom',
       'Switzerland, United Kingdom, Australia', 'Israel, United States',
       'Canada, United States', 'Brazil', 'Argentina, Spain', 'Taiwan',
       'United States, Nigeria', 'Bulgaria, United States',
       'Spain, United Kingdom, United States', 'United States, China',
       'United States, France',
       'Spain, France, United Kingdom, United States',
       ', France, Algeria', 'Poland', 'Germany',
       'France, Israel, Germany, United States, United Kingdom',
       'New Zealand', 'Saudi Arabia', 'Thailand', 'Indonesia',
       'Egypt, Denmark, Germany', 'United States, Switzerland',
       'Hong Kong, Canada, United States', 'Kuwait, United States',
       'France, Canada, United States, Spain',
       'France, Netherlands, Singapore', 'France, Belgium',
       'Ireland, United States, United Kingdom', 'Egypt', 'Malaysia',
       'Israel', 'Australia, New Zealand', 'United Kingdom, Germany',
       'Belgium, Netherlands', 'South Korea, Czech Republic',
       'Australia, Germany', 'Vietnam', 'United Kingdom, Belgium',
       'United Kingdom, Australia, United States',
       'France, Japan, United States',
       'United Kingdom, Germany, Spain, United States',
       'United Kingdom, United States, France, Italy',
       'United States, Germany, Canada',
       'United States, France, Italy, United Kingdom',
       'United States, United Kingdom, Germany, Hungary',
       'United States, New Zealand', 'Sweden', 'China', 'Lebanon',
       'Romania', 'Finland, Germany', 'Lebanon, Syria', 'Philippines',
       'Iceland', 'Denmark', 'United States, India',
       'Philippines, Singapore, Indonesia',
       'China, United States, Canada', 'Lebanon, United Arab Emirates',
       'Canada, United States, Denmark', 'United Arab Emirates',
       'Mexico, France, Colombia', 'Netherlands',
       'Germany, United States, France', 'United States, Bulgaria',
       'United Kingdom, France, Germany, United States',
       'Norway, Denmark', 'Syria, France, Lebanon, Qatar',
       'United States, Czech Republic', 'Mauritius',
       'Canada, South Africa', 'Austria', 'Mexico, Brazil',
       'Germany, France', 'Mexico, United States',
       'United Kingdom, France, Spain, United States',
       'United States, Australia',
       'United States, United Kingdom, France', 'United States, Russia',
       'United States, United Kingdom, New Zealand',
       'Australia, United Kingdom', 'Canada, Nigeria, United States',
       'France, United States, United Kingdom, Canada',
       'France, United Kingdom', 'India, United Kingdom',
       'Canada, United States, Mexico',
       'United Kingdom, Germany, United States',
       'Czech Republic, United Kingdom, United States',
       'China, United Kingdom', 'Italy, United Kingdom', 'China, Taiwan',
       'United States, Brazil, Japan, Spain, India',
       'United States, China, United Kingdom', 'Cameroon',
       'Lebanon, Palestine, Denmark, Qatar', 'Japan, United States',
       'Uruguay, Germany', 'Egypt, Saudi Arabia',
       'United Kingdom, France, Poland, Germany, United States',
       'Ireland, Switzerland, United Kingdom, France, United States',
       'United Kingdom, South Africa, France',
       'Ireland, United Kingdom, France, Germany',
       'Russia, United States', 'United Kingdom, United States, France',
       'United Kingdom,', 'United States, India, United Kingdom', 'Kenya',
       'Spain, Argentina', 'India, United Kingdom, France, Qatar',
       'Belgium, France', 'Argentina, Chile', 'United States, Thailand',
       'Chile, Brazil', 'United States, Colombia',
       'Canada, United States, United Kingdom', 'Uruguay', 'Luxembourg',
       'United States, Cambodia, Romania', 'Bangladesh',
       'Spain, Belgium, United States',
       'United Kingdom, United States, Australia',
       'Canada, United States, France', 'Portugal, United States',
       'Portugal, Spain', 'India, United States',
       'United Kingdom, Ireland', 'United Kingdom, Spain, United States',
       'Hungary, United States', 'United States, South Korea',
       'Canada, United States, Cayman Islands', 'India, France',
       'France, Canada', 'Canada, Hungary, United States', 'Norway',
       'Canada, United Kingdom, United States',
       'United Kingdom, Germany, France, United States',
       'Denmark, United States', 'Senegal', 'France, Algeria',
       'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland',
       'Philippines, Canada, United Kingdom, United States',
       'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong',
       'Singapore', 'Kuwait', 'United States, France, Serbia',
       'United States, Italy', 'Spain, Italy',
       'United States, Ireland, United Kingdom, India',
       'United Kingdom, Singapore', 'Hong Kong, United States',
       'United States, Malta, France, United Kingdom',
       'United States, China, Canada', 'Canada, United States, Ireland',
       'Lebanon, Canada, France', 'Japan, Canada, United States',
       'Spain, France, Canada',
       'Denmark, Singapore, Canada, United States',
       'United States, France, Denmark', 'United States, China, Colombia',
       'Spain, Thailand, United States', 'Mexico, Spain',
       'Ireland, Luxembourg, Belgium', 'China, United States',
       'Canada, Belgium', 'Canada, United Kingdom',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'France, Belgium, Italy',
       'Lebanon, United States, United Arab Emirates', 'Lebanon, France',
       'France, Lebanon', 'France, Lebanon, United Kingdom',
       'France, Norway, Lebanon, Belgium',
       'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands',
       'United States, United Kingdom, India', 'Indonesia, Netherlands',
       'Turkey, South Korea', 'Serbia, United States', 'Namibia',
       'United Kingdom, Kenya', 'United Kingdom, France, Germany, Spain',
       'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
       'Thailand, United States',
       'United States, France, Canada, Belgium', 'United Kingdom, China',
       'Germany, China, United Kingdom',
       'Australia, New Zealand, United States',
       'Hong Kong, Iceland, United States', 'France, Australia, Germany',
       'United States, Belgium, Canada, France', 'South Africa, Angola',
       'United States, Philippines',
       'United States, United Kingdom, Canada, China',
       'United States, Canada, United Kingdom', 'Turkey, United States',
       'Peru, Germany, Norway', 'Mozambique', 'Brazil, France',
       'China, Spain, South Korea, United States', 'Spain, Germany',
       'Hong Kong, China', 'France, Belgium, Luxembourg, Cambodia,',
       'United Kingdom, Australia', 'Belarus',
       'Indonesia, United Kingdom',
       'Switzerland, France, Belgium, United States', 'Ghana',
       'Spain, France, Canada, United States', 'Chile, Italy',
       'United Kingdom, Nigeria', 'Chile', 'France, Egypt',
       'Egypt, France', 'France, Brazil, Spain, Belgium',
       'Egypt, Algeria', 'Canada, South Korea, United States',
       'Nigeria, United Kingdom', 'United States, France, Canada',
       'Poland, United States',
       'United Arab Emirates, Jordan, Lebanon, Saudi Arabia',
       'United States, Mexico, Spain, Malta',
       'Saudi Arabia, United Arab Emirates', 'Zimbabwe',
       'United Kingdom, Germany, United Arab Emirates, New Zealand',
       'Romania, United States', 'Canada, Nigeria',
       'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
       'United Kingdom, Spain', 'Finland, France',
       'United Kingdom, Germany, United States, France',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'Italy, United Kingdom, France', 'United States, Mexico, Colombia',
       'Turkey, India', 'Italy, Turkey',
       'United Kingdom, United States, Japan',
       'France, Belgium, United States',
       'Puerto Rico, United States, Colombia', 'Uruguay, Argentina',
       'United States, United Kingdom, Japan', 'United States, Argentina',
       'United Kingdom, Italy', 'Ireland, United Kingdom',
       'United Kingdom, France, Belgium, Canada, United States',
       'Netherlands, Germany, Denmark, United Kingdom', 'Hungary',
       'Austria, Germany', 'Taiwan, China',
       'United Kingdom, United States, Ireland',
       'South Korea, United States', 'Brazil, United Kingdom',
       'Pakistan, United States', 'Romania, France, Switzerland, Germany',
       'Romania, United Kingdom', 'France, Malta, United States',
       'Cyprus',
       'United Kingdom, France, Belgium, Ireland, United States',
       'United States, Norway, Canada', 'Kenya, United States',
       'France, South Korea, Japan, United States', 'Taiwan, Malaysia',
       'Uruguay, Argentina, Germany, Spain',
       'United States, United Kingdom, France, Germany, Japan',
       'United States, France, Japan',
       'United Kingdom, France, United States',
       'Spain, France, United States',
       'Indonesia, South Korea, Singapore', 'United States, Spain',
       'Netherlands, Germany, Italy, Canada',
       'Spain, Germany, Denmark, United States', 'Norway, Sweden',
       'South Korea, Canada, United States, China',
       'Argentina, Uruguay, Serbia', 'France, Japan',
       'Mauritius, South Africa', 'United States, Poland',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'India, Germany', 'India, United Kingdom, Canada, United States',
       'Philippines, United States', 'Romania, Bulgaria, Hungary',
       'Uruguay, Guatemala', 'France, Senegal, Belgium',
       'United Kingdom, Canada', 'Mexico, United States, Spain, Colombia',
       'Canada, Norway', 'Singapore, United States',
       'Finland, Germany, Belgium', 'United Kingdom, France',
       'United States, Chile', 'United Kingdom, Japan, United States',
       'Spain, United Kingdom', 'Argentina, United States, Mexico',
       'United States, South Korea, Japan', 'Canada, Australia',
       'United Kingdom, Hungary, Australia', 'Italy, Belgium',
       'United States, United Kingdom, Germany', 'Switzerland',
       'Singapore, Malaysia',
       'France, Belgium, Luxembourg, Romania, Canada, United States',
       'South Africa, Nigeria', 'Spain, France',
       'United Kingdom, Hong Kong', 'Pakistan', 'Brazil, United States',
       'Denmark, Brazil, France, Portugal, Sweden', 'India, Turkey',
       'Malaysia, Singapore, Hong Kong', 'Philippines, Singapore',
       'Australia, Canada', 'Taiwan, China, France, United States',
       'Germany, Italy', 'Colombia, Peru, United Kingdom',
       'Thailand, China, United States', 'Argentina, United States',
       'Sweden, United States', 'Uruguay, Spain, Mexico',
       'France, Luxembourg, Canada', 'Denmark, Spain', 'Chile, Argentina',
       'United Kingdom, Belgium, Sweden', 'Canada, Brazil',
       'Italy, France', 'Canada, Germany',
       'Pakistan, United Arab Emirates', 'Ghana, United States',
       'Mexico, Finland', 'United Arab Emirates, United Kingdom, India',
       'Netherlands, Belgium', 'United States, Taiwan',
       'Austria, Iraq, United States', 'United Kingdom, Malawi',
       'Paraguay, Argentina', 'United Kingdom, Russia, United States',
       'India, Pakistan', 'Indonesia, Singapore', 'Spain, Belgium',
       'Iceland, Sweden, Belgium', 'Croatia', 'Uruguay, Argentina, Spain',
       'United Kingdom, Ireland, United States',
       'Canada, Germany, France, United States', 'United Kingdom, Japan',
       'Norway, Denmark, Netherlands, Sweden',
       'Hong Kong, China, United States', 'Ireland, Canada',
       'Italy, Switzerland, France, Germany', 'Mexico, Netherlands',
       'United States, Sweden', 'Germany, France, Russia',
       'France, Iran, United States', 'United Kingdom, India',
       'Russia, Poland, Serbia', 'Spain, Portugal', 'Peru',
       'Mexico, Argentina',
       'United Kingdom, Canada, United States, Cayman Islands',
       'Indonesia, United States',
       'United States, Israel, United Kingdom, Canada',
       'Norway, Iceland, United States', 'Czech Republic, United States',
       'United Kingdom, India, United States',
       'United Kingdom, West Germany', 'India, Australia',
       'United States,', 'Belgium, United Kingdom, United States',
       'India, Germany, Austria',
       'United States, Brazil, South Korea, Mexico, Japan, Germany',
       'Spain, Mexico', 'China, Japan', 'Argentina, France',
       'China, United States, United Kingdom',
       'France, Luxembourg, United States',
       'China, United States, Australia', 'Colombia, Mexico',
       'United States, Canada, Ireland', 'Chile, Peru',
       'Argentina, Italy', 'Canada, Japan, United States',
       'United Kingdom, Canada, United States, Germany',
       'Italy, Switzerland, Albania, Poland',
       'United States, Japan, Canada', 'Cambodia',
       'Italy, United States, Argentina',
       'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'Spain, Colombia',
       'United Kingdom, South Africa, Australia, United States',
       'Bulgaria', 'Argentina, Brazil, France, Poland, Germany, Denmark',
       'United Kingdom, Spain, United States, Germany',
       'Philippines, Qatar', 'Netherlands, Belgium, Germany, Jordan',
       'United Arab Emirates, United States', 'Norway, Germany, Sweden',
       'South Korea, China', 'Georgia', 'Soviet Union, India',
       'Australia, United Arab Emirates', 'Canada, Germany, South Africa',
       'South Korea, China, United States', 'India, Soviet Union',
       'India, Mexico', 'Georgia, Germany, France',
       'United Arab Emirates, Romania', 'India, Malaysia',
       'Germany, Jordan, Netherlands', 'Turkey, France, Germany, Poland',
       'Greece, United States', 'France, United Kingdom, United States',
       'Norway, Germany', 'France, Morocco', 'Cambodia, United States',
       'United States, Denmark', 'United States, Colombia, Mexico',
       'United Kingdom, Italy, Israel, Peru, United States',
       'Argentina, Uruguay, Spain, France',
       'United Kingdom, France, United States, Belgium',
       'France, Canada, China, Cambodia',
       'United Kingdom, France, Belgium, United States', 'Chile, France',
       'Netherlands, United States', 'France, United Kingdom, India',
       'Czech Republic, Slovakia', 'Singapore, France',
       'Spain, Switzerland', 'United States, Australia, China',
       'South Africa, United States, Germany',
       'United States, United Kingdom, Australia',
       'Spain, Italy, Argentina', 'Chile, Spain, Argentina, Germany',
       'West Germany', 'Austria, Czech Republic', 'Lebanon, Qatar',
       'United Kingdom, Jordan, Qatar, Iran',
       'France, South Korea, Japan', 'Israel, Germany, France',
       'Canada, Japan, Netherlands', 'United States, Hungary',
       'France, Germany', 'France, Qatar',
       'United Kingdom, Germany, Canada', 'Ireland, South Africa',
       'Chile, United States, France', 'Belgium, France, Netherlands',
       'United Kingdom, Ukraine, United States',
       'Germany, Australia, France, China', 'Norway, United States',
       'United States, Bermuda, Ecuador',
       'United States, Hungary, Ireland, Canada',
       'United Kingdom, Egypt, United States',
       'United States, France, United Kingdom', 'Spain, Mexico, France',
       'United States, South Africa', 'Hong Kong, China, Singapore',
       'South Africa, China, United States', 'Denmark, France, Poland',
       'New Zealand, United Kingdom',
       'Netherlands, Denmark, South Africa', 'Iran, France',
       'United Kingdom, United States, France, Germany',
       'Australia, France', 'Ireland, United Kingdom, United States',
       'United Kingdom, France, Germany', 'Canada, Luxembourg',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'France, Canada, Belgium', 'Canada, France',
       'Bulgaria, United States, Spain, Canada', 'Sweden, Netherlands',
       'France, United States, Mexico',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       'India, Iran', 'France, Belgium, Spain',
       'Denmark, Sweden, Israel, United States', 'United States, Iceland',
       'United Kingdom, Russia',
       'United States, Israel, Italy, South Africa',
       'Netherlands, Denmark, France, Germany', 'South Korea, Japan',
       'United Kingdom, Pakistan', 'France, New Zealand',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'China, Germany, India, United States', 'Germany, Sri Lanka',
       'United States, India, Bangladesh',
       'United States, Canada, France', 'Brazil, France, Germany',
       'Germany, United States, Hong Kong, Singapore',
       'France, Germany, Switzerland',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'United Kingdom, Canada, Italy', 'Czech Republic, France',
       'Taiwan, Hong Kong, United States, China', 'Germany, Australia',
       'United Kingdom, Poland, United States', 'Denmark, Zimbabwe',
       'United Kingdom, South Africa',
       'Finland, Sweden, Norway, Latvia, Germany',
       'South Africa, United States, New Zealand, Canada',
       'United States, Italy, United Kingdom, Liechtenstein',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'United States, Australia, Mexico',
       'United Kingdom, Czech Republic, Germany, United States',
       'France, China, Japan, United States',
       'United States, South Korea, China', 'Germany, Belgium',
       'Pakistan, Norway, United States',
       'United States, Canada, Belgium, United Kingdom', 'Venezuela',
       'Canada, France, Italy, Morocco, United States',
       'Canada, Spain, France', 'United States, Indonesia',
       'Spain, France, Italy',
       'United Arab Emirates, United States, United Kingdom',
       'United Kingdom, Israel, Russia', 'Spain, Cuba',
       'United States, Brazil', 'United States, France, Mexico',
       'United States, Nicaragua',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'Italy, Canada, France',
       'United Kingdom, Denmark, Canada, Croatia', 'Italy, Germany',

In [17]:
df_netflix_original["Originales"] = True

In [18]:
df_netflix_original

,Title,Genre,Premiere,Runtime,IMDB Score,Language,Originales
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,True
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,True
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,True
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,True
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,True
...,...,...,...,...,...,...,...
576,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English,True
577,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English,True
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian,True
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English,True
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English,True

In [19]:
df_netflix_original.info()

# type(df_netflix_original.Premiere)

<class 'pandas.core.frame.DataFrame'>
Index: 513 entries, 0 to 583
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       513 non-null    object
 1   Genre       513 non-null    object
 2   Premiere    513 non-null    object
 3   Runtime     513 non-null    int64
 4   IMDB Score  513 non-null    float64
 5   Language    513 non-null    object
 6   Originales  513 non-null    bool
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 28.6+ KB

In [20]:
df_netflix_original.Premiere

0         August 5, 2019
1        August 21, 2020
2      December 26, 2019
3       January 19, 2018
4       October 30, 2020
             ...
576    November 24, 2017
577     October 23, 2019
580      October 9, 2015
581    December 16, 2018
583      October 4, 2020
Name: Premiere, Length: 513, dtype: object

In [21]:
lista_meses = []

for fecha in df_netflix_original.Premiere:
    mes = fecha.split(' ')[0]
    lista_meses.append(mes)
    print(mes)

August
August
December
January
October
November
December
June
March
May
November
September
October
November
December
January
February
January
August
July
August
February
April
July
April
July
February
December
May
October
February
October
July
July
November
January
March
April
October
December
December
January
May
October
January
April
December
April
August
November
October
January
July
October
July
February
October
January
April
April
February
July
August
July
July
February
May
February
May
October
May
May
April
May
February
September
November
April
November
August
April
August
May
September
April
June
April
August
October
December
May
March
March
October
April
August
January
November
July
December
October
December
April
October
November
February
April
February
February
April
January
February
November
July
August
April
May
October
July
January
August
September
September
June
October
January
February
December
September
August
October
April
March
March
December
September
December
October
October
May
January
September
June
December
July
April
May
November
May
May
February
March
December
November
May
November
December
April
June
August
July
March
May
November
October
November
November
April
April
April
April
April
June
August
September
July
April
November
October
April
January
April
May
November
November
February
March
March
January
January
December
November
March
April
May
March
June
August
October
November
May
November
February
May
December
September
March
April
March
October
November
May
August
March
August
March
October
April
January
April
November
May
March
May
August
August
November
May
January
November
August
February
September
June
August
July
March
April
March
September
April
April
October
May
June
October
March
December
May
April
June
March
January
April
May
November
January
April
June
December
October
March
October
October
March
March
April
August
March
August
September
September
March
October
February
February
August
February
April
December
September
October
October
September
March
January
May
March
April
March
September
March
October
February
October
August
March
March
December
May
June
April
June
September
October
November
June
June
May
December
June
June
May
June
July
April
April
March
December
June
February
June
August
September
October
May
June
December
November
February
December
September
August
July
January
June
April
April
November
May
January
April
December
November
September
February
December
October
February
March
April
March
July
July
July
October
October
October
January
March
September
May
May
June
December
September
May
September
April
November
October
September
September
November
November
July
January
December
September
March
December
February
May
September
November
March
February
June
July
March
May
October
October
September
October
November
September
December
December
April
May
March
September
August
December
November
March
October
November
December
June
April
November
October
May
September
May
April
October
May
September
November
March
October
January
April
October
January
July
January
September
September
September
October
April
March
February
October
October
May
January
April
June
November
October
August
October
October
September
July
May
May
July
October
June
September
July
January
February
October
March
October
April
November
October
June
May
August
November
September
January
February
November
October
June
November
July
July
September
October
August
October
September
September
June
November
September
October
July
September
December
June
February
October
March
November
November
October
April
August
December
November
July
September
August
November
March
October
November
October
October
December
October

In [22]:
print(lista_meses)

['August', 'August', 'December', 'January', 'October', 'November', 'December', 'June', 'March', 'May', 'November', 'September', 'October', 'November', 'December', 'January', 'February', 'January', 'August', 'July', 'August', 'February', 'April', 'July', 'April', 'July', 'February', 'December', 'May', 'October', 'February', 'October', 'July', 'July', 'November', 'January', 'March', 'April', 'October', 'December', 'December', 'January', 'May', 'October', 'January', 'April', 'December', 'April', 'August', 'November', 'October', 'January', 'July', 'October', 'July', 'February', 'October', 'January', 'April', 'April', 'February', 'July', 'August', 'July', 'July', 'February', 'May', 'February', 'May', 'October', 'May', 'May', 'April', 'May', 'February', 'September', 'November', 'April', 'November', 'August', 'April', 'August', 'May', 'September', 'April', 'June', 'April', 'August', 'October', 'December', 'May', 'March', 'March', 'October', 'April', 'August', 'January', 'November', 'July', 'December', 'October', 'December', 'April', 'October', 'November', 'February', 'April', 'February', 'February', 'April', 'January', 'February', 'November', 'July', 'August', 'April', 'May', 'October', 'July', 'January', 'August', 'September', 'September', 'June', 'October', 'January', 'February', 'December', 'September', 'August', 'October', 'April', 'March', 'March', 'December', 'September', 'December', 'October', 'October', 'May', 'January', 'September', 'June', 'December', 'July', 'April', 'May', 'November', 'May', 'May', 'February', 'March', 'December', 'November', 'May', 'November', 'December', 'April', 'June', 'August', 'July', 'March', 'May', 'November', 'October', 'November', 'November', 'April', 'April', 'April', 'April', 'April', 'June', 'August', 'September', 'July', 'April', 'November', 'October', 'April', 'January', 'April', 'May', 'November', 'November', 'February', 'March', 'March', 'January', 'January', 'December', 'November', 'March', 'April', 'May', 'March', 'June', 'August', 'October', 'November', 'May', 'November', 'February', 'May', 'December', 'September', 'March', 'April', 'March', 'October', 'November', 'May', 'August', 'March', 'August', 'March', 'October', 'April', 'January', 'April', 'November', 'May', 'March', 'May', 'August', 'August', 'November', 'May', 'January', 'November', 'August', 'February', 'September', 'June', 'August', 'July', 'March', 'April', 'March', 'September', 'April', 'April', 'October', 'May', 'June', 'October', 'March', 'December', 'May', 'April', 'June', 'March', 'January', 'April', 'May', 'November', 'January', 'April', 'June', 'December', 'October', 'March', 'October', 'October', 'March', 'March', 'April', 'August', 'March', 'August', 'September', 'September', 'March', 'October', 'February', 'February', 'August', 'February', 'April', 'December', 'September', 'October', 'October', 'September', 'March', 'January', 'May', 'March', 'April', 'March', 'September', 'March', 'October', 'February', 'October', 'August', 'March', 'March', 'December', 'May', 'June', 'April', 'June', 'September', 'October', 'November', 'June', 'June', 'May', 'December', 'June', 'June', 'May', 'June', 'July', 'April', 'April', 'March', 'December', 'June', 'February', 'June', 'August', 'September', 'October', 'May', 'June', 'December', 'November', 'February', 'December', 'September', 'August', 'July', 'January', 'June', 'April', 'April', 'November', 'May', 'January', 'April', 'December', 'November', 'September', 'February', 'December', 'October', 'February', 'March', 'April', 'March', 'July', 'July', 'July', 'October', 'October', 'October', 'January', 'March', 'September', 'May', 'May', 'June', 'December', 'September', 'May', 'September', 'April', 'November', 'October', 'September', 'September', 'November', 'November', 'July', 'January', 'December', 'September', 'March', 'December', 'February', 'May', 'September', 'November', 'March', 'February', 'June', 'July', 'March', 'May', 'October', 'October', 'September', 'October', 'November', 'September', 'December', 'December', 'April', 'May', 'March', 'September', 'August', 'December', 'November', 'March', 'October', 'November', 'December', 'June', 'April', 'November', 'October', 'May', 'September', 'May', 'April', 'October', 'May', 'September', 'November', 'March', 'October', 'January', 'April', 'October', 'January', 'July', 'January', 'September', 'September', 'September', 'October', 'April', 'March', 'February', 'October', 'October', 'May', 'January', 'April', 'June', 'November', 'October', 'August', 'October', 'October', 'September', 'July', 'May', 'May', 'July', 'October', 'June', 'September', 'July', 'January', 'February', 'October', 'March', 'October', 'April', 'November', 'October', 'June', 'May', 'August', 'November', 'September', 'January', 'February', 'November', 'October', 'June', 'November', 'July', 'July', 'September', 'October', 'August', 'October', 'September', 'September', 'June', 'November', 'September', 'October', 'July', 'September', 'December', 'June', 'February', 'October', 'March', 'November', 'November', 'October', 'April', 'August', 'December', 'November', 'July', 'September', 'August', 'November', 'March', 'October', 'November', 'October', 'October', 'December', 'October']

In [23]:
df_netflix_original["Mes"] = lista_meses
df_netflix_original

,Title,Genre,Premiere,Runtime,IMDB Score,Language,Originales,Mes
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,True,August
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,True,August
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,True,December
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,True,January
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,True,October
...,...,...,...,...,...,...,...,...
576,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English,True,November
577,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English,True,October
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian,True,October
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English,True,December
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English,True,October

In [24]:
# df_netflix_original["Mes"] = [fecha.split(' ')[0]for fecha in df_netflix_original.Premiere]
# df_netflix_original

In [25]:
df_netflix_original["Ano"] = [fecha.split(' ')[2]for fecha in df_netflix_original.Premiere]
df_netflix_original

,Title,Genre,Premiere,Runtime,IMDB Score,Language,Originales,Mes,Ano
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,True,August,2019
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,True,August,2020
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,True,December,2019
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,True,January,2018
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,True,October,2020
...,...,...,...,...,...,...,...,...,...
576,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English,True,November,2017
577,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English,True,October,2019
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian,True,October,2015
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English,True,December,2018
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English,True,October,2020

In [26]:
df_netflix_original['Premiere'] = df_netflix_original['Premiere'].str.replace('.', ',')

In [27]:
df_netflix_original['Premiere'] = pd.to_datetime(df_netflix_original['Premiere'], format='%B %d, %Y')

In [28]:
df_netflix_original['Dia_Semana'] = df_netflix_original['Premiere'].dt.day_name()
df_netflix_original

,Title,Genre,Premiere,Runtime,IMDB Score,Language,Originales,Mes,Ano,Dia_Semana
0,Enter the Anime,Documentary,2019-08-05,58,2.5,English/Japanese,True,August,2019,Monday
1,Dark Forces,Thriller,2020-08-21,81,2.6,Spanish,True,August,2020,Friday
2,The App,Science fiction/Drama,2019-12-26,79,2.6,Italian,True,December,2019,Thursday
3,The Open House,Horror thriller,2018-01-19,94,3.2,English,True,January,2018,Friday
4,Kaali Khuhi,Mystery,2020-10-30,90,3.4,Hindi,True,October,2020,Friday
...,...,...,...,...,...,...,...,...,...,...
576,Cuba and the Cameraman,Documentary,2017-11-24,114,8.3,English,True,November,2017,Friday
577,Dancing with the Birds,Documentary,2019-10-23,51,8.3,English,True,October,2019,Wednesday
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,2015-10-09,91,8.4,English/Ukranian/Russian,True,October,2015,Friday
581,Springsteen on Broadway,One-man show,2018-12-16,153,8.5,English,True,December,2018,Sunday
583,David Attenborough: A Life on Our Planet,Documentary,2020-10-04,83,9.0,English,True,October,2020,Sunday

In [29]:
# Mergear dataFrames manteniendo todos los valores de la izda (df_netflix_titles)

df_merge = df_netflix_titles.merge(df_netflix_original, left_on = "title" , right_on="Title", how="left")
df_merge

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language,Originales,Mes,Ano,Dia_Semana
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,2020-10-02,90.0,7.5,English,True,October,2020,Friday
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_merge.drop("Title", axis = 1, inplace= True)

df_merge

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Originales,Mes,Ano,Dia_Semana
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,True,October,2020,Friday
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_merge.rename(columns={'title': 'Title'}, inplace=True)

In [79]:
peliculas_por_dia = df_merge['Dia_Semana'].value_counts()

peliculas_por_dia

Dia_Semana
Friday       346
Wednesday     70
Thursday      55
Tuesday       18
Monday        13
Sunday         8
Saturday       3
Name: count, dtype: int64

In [53]:
print(f"NÃºmero de titulos originales:{df_merge['Originales'].notnull().sum()}")

NÃºmero de titulos originales:513

In [55]:
total_titlulos = df_netflix_titles['title'].nunique()

print(f"Total tÃ­tulos: {total_titlulos}")

Total tÃ­tulos: 8807

In [64]:

df_merge['IMDB Score'] = df_merge['IMDB Score'].fillna(0)

puntuacion_imdb = df_merge.groupby('Originales')['IMDB Score'].mean()
print(puntuacion_imdb)

Originales
False    0.000000
True     6.210916
Name: IMDB Score, dtype: float64

In [37]:

n_movies = df_merge.loc[df_merge['type'] == 'Movie'].shape[0]

print(f"El nÃºmero de pelÃ­culas es: {n_movies}")
print(f"El nÃºmero de series es: {8807 - n_movies}")

El nÃºmero de pelÃ­culas es: 6131
El nÃºmero de series es: 2676

In [36]:
series = df_merge.loc[df_merge['type'] == 'TV Show', ['Title', 'duration']]

series

                      Title   duration
1             Blood & Water  2 Seasons
2                 Ganglands        NaN
3     Jailbirds New Orleans        NaN
4              Kota Factory  2 Seasons
5             Midnight Mass        NaN
...                     ...        ...
8795        Yu-Gi-Oh! Arc-V  2 Seasons
8796             Yunus Emre  2 Seasons
8797              Zak Storm        NaN
8800     Zindagi Gulzar Hai        NaN
8803            Zombie Dumb  2 Seasons

[2676 rows x 2 columns]

In [38]:
titlulos_EEUU = df_merge.loc[df_merge['country'] == 'United States']

titlulos_EEUU

,show_id,type,Title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,Originales,Mes,Ano,Dia_Semana
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,True,October,2020,Friday
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,NaN,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,"September 20, 2021",2010,PG-13,NaN,Comedies,Mourning the loss of their beloved junior high...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,"September 19, 2021",2013,PG-13,NaN,"Horror Movies, Sci-Fi & Fantasy",A familyâ€™s idyllic suburban life shatters when...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8791,s8792,Movie,Young Adult,Jason Reitman,"Charlize Theron, Patton Oswalt, Patrick Wilson...",United States,"November 20, 2019",2011,R,NaN,"Comedies, Dramas, Independent Movies",When a divorced writer gets a letter from an o...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8793,s8794,Movie,"Yours, Mine and Ours",Raja Gosnell,"Dennis Quaid, Rene Russo, Sean Faris, Katija P...",United States,"November 20, 2019",2005,PG,NaN,"Children & Family Movies, Comedies",When a father of eight and a mother of 10 prep...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
peliculas = df_merge.loc[df_merge['type'] == 'Movie', ['Title', 'director']]

peliculas

                                 Title                       director
0                 Dick Johnson Is Dead                Kirsten Johnson
6     My Little Pony: A New Generation  Robert Cullen, JosÃ© Luis Ucha
7                              Sankofa                   Haile Gerima
9                         The Starling                 Theodore Melfi
12                        Je Suis Karl            Christian Schwochow
...                                ...                            ...
8801                           Zinzana                Majid Al Ansari
8802                            Zodiac                  David Fincher
8804                        Zombieland                Ruben Fleischer
8805                              Zoom                   Peter Hewitt
8806                            Zubaan                    Mozez Singh

[6131 rows x 2 columns]

In [40]:
titulos_2018 = df_merge.loc[df_merge['release_year'] == 2018, ['Title', 'listed_in']]
titulos_2018

,Title,listed_in
21,Resurrection: Ertugrul,"International TV Shows, TV Action & Adventure,..."
37,Angry Birds,"Kids' TV, TV Comedies"
73,King of Boys,"Dramas, International Movies"
94,Show Dogs,"Children & Family Movies, Comedies"
96,If I Leave Here Tomorrow: A Film About Lynyrd ...,"Documentaries, Music & Musicals"
...,...,...
8732,White Chamber,"Sci-Fi & Fantasy, Thrillers"
8743,Wildlife,"Dramas, Independent Movies"
8774,ÙŠÙˆÙ… Ø§Ù„Ø¯ÙŠÙ†,"Dramas, Independent Movies, International Movies"
8775,Yeh Meri Family,"International TV Shows, TV Comedies"
8803,Zombie Dumb,"Kids' TV, Korean TV Shows, TV Comedies"

In [41]:
sin_director = df_merge.loc[df_merge['director'].isnull(), 'Title']
sin_director

1                             Blood & Water
3                     Jailbirds New Orleans
4                              Kota Factory
10      Vendetta: Truth, Lies and The Mafia
14          Crime Stories: India Detectives
                       ...
8795                        Yu-Gi-Oh! Arc-V
8796                             Yunus Emre
8797                              Zak Storm
8800                     Zindagi Gulzar Hai
8803                            Zombie Dumb
Name: Title, Length: 2634, dtype: object

In [42]:
df_merge.iloc[:5][['Title', 'director', 'country']]

                   Title         director        country
0   Dick Johnson Is Dead  Kirsten Johnson  United States
1          Blood & Water              NaN   South Africa
2              Ganglands  Julien Leclercq            NaN
3  Jailbirds New Orleans              NaN            NaN
4           Kota Factory              NaN          India

In [44]:
df_merge.iloc[-5:][['Title', 'description']]

            Title                                        description
8802       Zodiac  A political cartoonist, a crime reporter and a...
8803  Zombie Dumb  While living alone in a spooky town, a young g...
8804   Zombieland  Looking to survive in a world taken over by zo...
8805         Zoom  Dragged from civilian life, a former superhero...
8806       Zubaan  A scrappy but poor boy worms his way into a ty...

In [45]:
df_merge.iloc[:10, 1:5]

,type,Title,director,cast
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban..."
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi..."
3,TV Show,Jailbirds New Orleans,NaN,NaN
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K..."
5,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H..."
6,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ..."
7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D..."
8,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho..."
9,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T..."

In [46]:
df_merge.iloc[-7:, [2, 3, 5]]

                   Title         director                       country
8800  Zindagi Gulzar Hai              NaN                      Pakistan
8801             Zinzana  Majid Al Ansari  United Arab Emirates, Jordan
8802              Zodiac    David Fincher                 United States
8803         Zombie Dumb              NaN                           NaN
8804          Zombieland  Ruben Fleischer                 United States
8805                Zoom     Peter Hewitt                 United States
8806              Zubaan      Mozez Singh                         India

In [47]:
df_merge.iloc[14:25, :4]

,show_id,type,Title,director
14,s15,TV Show,Crime Stories: India Detectives,NaN
15,s16,TV Show,Dear White People,NaN
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave GarcÃ­a, Pablo AzorÃ­n Williams"
17,s18,TV Show,Falsa identidad,NaN
18,s19,Movie,Intrusion,Adam Salky
19,s20,TV Show,Jaguar,NaN
20,s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton
21,s22,TV Show,Resurrection: Ertugrul,NaN
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar
23,s24,Movie,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore"
24,s25,Movie,Jeans,S. Shankar

In [49]:
df_merge.iloc[19:30][['Title', 'release_year', 'rating']]

                                              Title  release_year rating
19                                           Jaguar          2021  TV-MA
20  Monsters Inside: The 24 Faces of Billy Milligan          2021  TV-14
21                           Resurrection: Ertugrul          2018  TV-14
22                                  Avvai Shanmughi          1996  TV-PG
23     Go! Go! Cory Carson: Chrissy Takes the Wheel          2021   TV-Y
24                                            Jeans          1998  TV-14
25                             Love on the Spectrum          2021  TV-14
26                                   Minsara Kanavu          1997  TV-PG
27                                        Grown Ups          2010  PG-13
28                                       Dark Skies          2013  PG-13
29                                         Paranoia          2013  PG-13